#h1{
    background-color: aqua;
    width: fit-content;
}

.img{

    height:200px;
    width:200px;
    border: 2px solid black;
    display: flex;
}
.career{
    border: 10px solid greenyellow;
}
.some{
   border: 10px solid rgb(207, 149, 157);
}

.my1{
    border:20px solid brown;
  
}
.my2{
    border:20px solid rgb(165, 136, 42);
  
}
.my3{
    border:20px solid rgb(54, 42, 165);
  
}